<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Product Page</h1>
	
	
	<table>
		<tr th:each="product : ${productList}">
			<td th:text="${product.productName}"></td>
			<td><img th:src="${product.image}" width="300px"></td>
		<!-- <td><img th:src="${product.image}" width="200px"></td> -->	
		</tr>
	</table>

	<form th:action="@{~/manager/add-product}" method="post"
		enctype="multipart/form-data">
		<select name="category">
			<option>Select Category</option>
			<option th:each="category : ${categoryList}" th:value="${category.categoryId}"
				th:text="${category.categoryName}"></option>
		</select> 
		
		ProductName: <input type="text" name="productName" placeholder="Product Name"> 
		ProductDescription :<input type="text" name="productDescription" 
			placeholder="Product Des">
		ProductPrice: <input type="number" name="productPrice"
			placeholder="Product Price"> 
		ProductUnit: <input type="number" name="productUnit"
			placeholder="Product Unit">
		ProductImage: <input type="file" name="file">
		<input type="submit" value="ADD">
	</form>

</body>
</html>