<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>This is User Index PAge</h1>
	<table>
		<tr th:each="product : ${productList}">
			<td th:text="${product.productName}"></td>
			<td th:text="${product.productDescription}"></td>
			<td th:text="${product.productPrice}"></td>
			<td><img th:src="${product.image}" width="300px"></td>
			<td>
				<span th:each="course,iterStat : ${product.userList}">
        		<span th:text="${course.email}"/><th:block th:if="${!iterStat.last}">,</th:block>
        		</span> 
			</td>
			<td><a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}">AddToCart</a></td>
		</tr>
	</table>
	
</body>
</html>