<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>This is an Index page</h1>
	<ul>
		<li sec:authorize="isAuthenticated()"><a href="#"
			th:href="@{~/profile/index}">PROFILE</a> </li>
		<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
			th:href="@{~/admin/index}">ADMIN</a> </li>
		<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"
			th:href="@{~/manager/index}">MANAGER</a></li>
	</ul>
	<br>
	<br>
	<a href="#" th:href="@{~/logout}">LogOut</a>
</body>
</html>