<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/login}" method="post">
		Email: <input type="email" name="email" placeholder="Email">
		Password: <input type="password" name="password" placeholder="Password"> 
		<input type="checkbox"
			id="checkRememberMe" name="checkRememberMe">Remember me?
		<input type="submit" value="LogIn">
	</form>
</body>
</html>