<html xmlns:th="http://www.thymeleaf.org">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
<title>Sign Up</title>
<style>
	body{
		background: #CCCCB2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
		<a class="navbar-brand" href="#">Online Shopping</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/index}"><i class="fa fa-home mr-2"></i>Home</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" href="#" th:href="@{admin/product-form}">Admin</a></li>
				
			</ul>
			<ul class="nav my-auto mr-4">
				<li class="nav-item"><a href="#" class="text-info" th:href="@{/profile/cart-product}">AddToCart</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" form-method="post"
				th:action="@{/logout}">
				<button sec:authorize="isAuthenticated()"
					class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
				<button sec:authorize="isAnonymous()" th:href="@{~/login}"
					class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
			</form>
		</div>
		</div>
	</nav>
	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-user"></i> Sign Up
				</div>
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/signup}" method="post">
						<fieldset>
						
							<div class="form-group">
								<label for="firstName">FirstName</label> <input type="text"
									class="form-control" id="firstName" name="firstName"
									placeholder="First Name" required>
							</div>
							
							<div class="form-group">
								<label for="lastName">LastName</label> <input type="text"
									class="form-control" id="lastName" name="lastName"
									placeholder="Last Name" required>
							</div>
							
							<div class="form-group">
								<label for="email">Email</label> <input type="email"
									class="form-control" id="email" name="email"
									placeholder="Email"  required>
							</div>

							<div class="form-group">
								<label for="password">Password</label> <input type="password"
									class="form-control" id="password" name="password"
									placeholder="Password"  required>
							</div>
							
							<input type="hidden" class="form-control" id="role" name="role"
									th:value="USER">

							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">Sign Up</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
